.nav {
  margin-bottom: 40pt;
}

.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 1px solid #9c3036;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  border-bottom: 3px solid #9c3036;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 3px 3px;
}

.nav-justified > li:last-child.active > a {
  border-bottom: 3px solid #9c3036;
}

.carousel-inner .item {
  padding-bottom: 150px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.carousel-inner .item img {
  margin-left: auto;
  margin-right: auto;
}

.carousel-control {
  width: 20px !important;
}

.carousel-inner .carousel-caption, .carousel-control {
  color: #000 !important;
}

.carousel-indicators li {
  border: 1px solid #000 !important;
}

.carousel-indicators li.active {
  background-color: #000 !important;
}

.carousel-control.left {
  background-image: none !important;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
}

img.site {
  height: 4em;
  margin-right: 1em;
}

.skip-xs {
  height: 1em;
}

.skip-sm {
  height: 2em;
}

.skip-md {
  height: 4em;
}

.skip-lg {
  height: 6em;
}