---
layout: default
title: About
category: about
---

<h1>Project Information</h1>

<p>The Topology Management Tool (ToMaTo) is a topology-centric network testbed. 
ToMaTo has been developed in the context of the <a href="http://www.german-lab.de">German-Lab research project</a> which has been funded by the German Ministry of Education and Research (BMBF).</p>

<p>Currently the testbed is run by the ToMaTo consortium and academic institutions can join it <strong>for free</strong> if they contribute resources. Thus ToMaTo continuously grows and already spans across multiple continents.</p>

<div class="skip-md"></div>

<h2>Worldwide sites</h2>
{% include world_map.html %}

<h2>Partner institutions</h2>
{% include partner_list.html %}

<div class="skip-md"></div>

<h1>Main Features</h1>

{% include feature_list.html %}

<div class="skip-md"></div>

<p class="text-center"><a href="{{ site.baseurl }}/join" class="btn btn-primary btn-lg" role="button">Start using ToMaTo now!</a></p>

<div class="skip-md"></div>

<h1>More Information</h1>

<div class="row">
<div class="col-md-6 col-xs-12">
<h2>Presentations</h2>
{% include presentation_list.html %}
<h2>Screencasts</h2>
{% include screencast_list.html %}
</div>

<div class="col-md-6 col-xs-12">
<h2>Publications</h2>
{% include publication_list.html %}
</div>

</div>
