<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/justified-nav.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="{{ site.baseurl }}/images/glablogo.jpg" alt="GermanLab" class="img-rounded">
        <img src="{{ site.baseurl }}/images/tomato_logo.png" alt="ToMaTo" class="img-rounded">
        <ul class="nav nav-justified">
        {% for nav in site.data.navigation %}
          <li {% if page.category == nav.id %}class="active"{% endif %}><a href="{{ nav.url }}">{{ nav.title }}</a></li>
        {% endfor %}
        </ul>
      </div>

      {{ content }}

      

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Copyright 2013, Regionales Hochschulrechenzentrum Kaiserslautern (RHRK), Technische Universität Kaiserslautern, <a href="{{ site.baseurl }}/contact">Impressum</a></p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
